/*RESET*/

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

/*Variables*/

/*Tipography*/

header {
  color:white;
  font-size: 16px;
  text-align: center;
  line-height: 147%;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  color:black;
}

h1{
  line-height: 130%;
}

h1.logo{
  text-transform: uppercase;
  padding: 20px;
}

h2 {
  margin-top:50px;
  margin-bottom: 20px;
  line-height: 130%;
}

h2 .taste{
  color: coral;
  text-align: center;
}

p{
  font-weight: bold;
  line-height: 200%;
}

p .textoheader{
  color: white;
}
/*Layout*/

header{
  background-color: coral;
  margin: 0px;
  position: relative;
}

body{
  margin: 0px;
}

section{
  width: 90%;
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 10px 10px 0px #ccc;
}

@media (min-width: 500px) {
  section{
    max-width: 500px;
  }
}

section.header{
  background-color: coral;
  box-shadow: 0px 0px 0px 0px;
}

article{
  background-color: white;
  padding: 80px 20px 0px 20px;
  z-index: 1;
}

article.uno{
  margin-top: -20px;
  border-radius: 20px 20px 0px 0px;
}

h1{
  margin: 0px;
}
/*Components*/

.image {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 500px){
  .image{
  max-width: 500px;
  }
}

input{
  font-weight: bold;
  display: block;
  width: 70%;
  height: 50px;
  margin: 0 auto;
  border-radius: 15px;
  border-style: none;
  padding-left: 20px;
}

button{ 
  color: white;
  font-weight: bold;
  background-color: #9bdbe7;
  margin: 20px;
  width: 120px;
  height: 45px;
  border-radius: 15px;
  border-style: none;
  margin-bottom: 50px;
}

 div.subrayado {
    width: 60px;
    height: 5px;
    background-color: coral;
  }

  img{
    display: block;
    margin: 0 auto;
  }

  .content{
    position: relative;

    width: 60%;
    z-index: 10;
    margin-top: 50px;
  }

  .final{
  box-shadow: none;
  }
  
  .circulo {
    position: absolute;
    z-index: 1;
    background-color: coral;
    border-radius: 300px;
    width: 300px;
    height: 300px;
    margin-top: -330px;
    margin-left: 15px;
  }

  